@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
*{
    font-family: 'Crimson Text', sans-serif;

}

.over{
    overflow-y: hidden;
}
.Nav{
    background-color: transparent;
    transition: backdrop-filter 0.6s , box-shadow 0.6s;
    
}
.oke{
    color: #a79999;
}

.first {
    background-color: white;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
    transition: all 1.5s;
}

.AfterButton {
    background-color: white;
    height: 100vh;
    width: 100%;
    margin-left: 700px;
    position: fixed;
    z-index: 9999;
    transition: all 1.5s;
}

.first h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

.AfterNav{
    color: black;
    transition: backdrop-filter 0.6s, box-shadow 0.6s;
    box-shadow: 0px 5px 15px black;
    backdrop-filter: blur(5px);
}

.brd {
    transition: border-bottom 0.6s;
    text-align: center;
    
}

.brd:hover{
    border-bottom: 1px solid black;
}

.conten1{
    background-image: url('../image/my.jpeg');
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.mgt{
    margin-top: 200px;
}

.mgt h1{
    border-bottom: 1px solid wheat;
}




.MyPorto p{
    color: rgb(212, 206, 206);
}




@media (min-width: 992px) { 
    .about{
        font-size: 20px;
    }
}


.conten2{
    background-color: white;
}

.conten3{
    background-color: #ddd;
}
.conten3 h1{
    border-bottom : 1px solid #aaa;
}
.conten3 p{
    color: #aaa;
}

.conten4{
    background-color: rgb(235, 158, 17);
}

.conten6{
    background-color: rgb(235, 158, 17);
}

.cursor{
    cursor: pointer;
}

.conten7 {
    background-color: rgb(36, 33, 33);
}

.text p {
    color: #756969;
    margin-right: 350px;
    border-bottom: 1px solid  rgb(36, 33, 33);
    box-sizing: border-box;
    transition: all 0.5s;
}

.text p:hover{
    color: white;
    border-bottom: 1px solid white;
}

.contak p {
    color: #756969;
}

.media  a {
    text-decoration: none;
    color: #756969;
    transition: all 0.5s;
}

.media a:hover{
    color: white;
    border-bottom: 1px solid white;
}