@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
*{
    font-family: 'Crimson Text', sans-serif;
}
.Nav{
    background-color: transparent;
    transition: backdrop-filter 0.6s , box-shadow 0.6s;
    
}

.AfterNav{
    color: black;
    transition: backdrop-filter 0.6s, box-shadow 0.6s;
    box-shadow: 0px 5px 15px black;
    backdrop-filter: blur(5px);
}

.brd {
    transition: border-bottom 0.6s;
    text-align: center;
    
}

.brd:hover{
    border-bottom: 1px solid black;
}

.conten1{
    background-image: url('../image/my.jpeg');
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.mgt{
    margin-top: 200px;
}

.mgt h1{
    border-bottom: 1px solid wheat;
}




.MyPorto p{
    color: rgb(212, 206, 206);
}




@media (min-width: 992px) { 
    .about{
        font-size: 20px;
    }
}


.conten2{
    background-color: white;
}

.conten3{
    background-color: #ddd;
}
.conten3 h1{
    border-bottom : 1px solid #aaa;
}
.conten3 p{
    color: #aaa;
}

.conten4{
    background-color: rgb(235, 158, 17);
}

.conten6{
    background-color: rgb(235, 158, 17);
    height: 100vh;
}

.cursor{
    cursor: pointer;
}